<!-- Contact -->
<section id="contact">
	<div class="inner">
		<section>
			<div class="contact-method">
				<span class="icon alt fa-envelope"></span>
				<h3>Email</h3>
				<a href="mailto:{{ site.email }}">{{ site.email }}</a>
			</div>
		</section>
		<section>
			<div class="contact-method">
				<span class="icon alt fa-phone"></span>
				<h3>Phone</h3>
				<a href="tel:{{ site.phone }}">{{ site.phone }}</a>
			</div>
		</section>
		<section>
			<div>
				<h3>FOLLOW ME</h3>
			</div>
			<div class="inner">
				<ul class="icons">
					{% for key_value in site.socials %}
					{% if key_value[1] %}
					<li>
						<a href="{{ key_value[1] }}" class="icon alt fa-{{ key_value[0] | downcase }}" target="_blank"
							rel="noopener noreferrer" aria-label="{{ key_value[0] }}">
							<span class="label">{{ key_value[0] }}</span>
						</a>
					</li>
					{% endif %}
					{% endfor %}
				</ul>
			</div>
		</section>
	</div>
</section>

</div>

<!-- Scripts -->
<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
<script src="{{ "assets/js/main.js" | absolute_url }}"></script>